<div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>About Numeric LMS</h2>
      </div>
      <hr/>
      </hr>

      <div class="col-md-12">
        <h3>Contact</h3>
        <p>
          Please forward any queries you may have to techsupport@numeric.org or log a ticket <a href="http://www.support.numeric.org/" target="_blank">here</a>.
          You can view our website at <a href="http://www.numeric.org/" target="_blank">www.numeric.org</a>
        </p>
      </div>

      <div class="col-md-12">
        <h3>System Administrator</h3>
          <b>Keenan Lawrence</b><br>
          Email: <a href="mailto:keenan@numeric.org">keenan@numeric.org</a>
      </div>

      <div class="col-md-12">
        <h3>Developer Information</h3>
        <h4> Forgeahead Solutions</h4>
        <p>
          ForgeAhead brings ideas to life by capitalizing on its core competency in software product development.
          ForgeAhead’s focused expertise and approach is designed to help you “Forge Ahead” of your competition by converting your ideas to real life products.
          Our goal is to help small and medium organizations as well as large scale corporations disrupt traditional ways of thinking to revolutionize the industry.
          Connect us: <a href="http://www.forgeahead.io/">ForgeAhead Solutions</a>
        </p>
        <div class="row">
          <div class="col-md-6">
            <table class="table table-nlms table-bordered table-striped table-hover">

              <thead>
                <tr>
                  <th>Team</th>
                  <th>Role</th>
                </tr>
              </thead>

              <tbody>
                <tr> <td>Sowmya Menon</td> <td>Project Manager</td> </tr>
                <tr> <td>Arun Mittal </td> <td>Technical Lead</td> </tr>
                <tr> <td>Sagar Talekar</td> <td>Software Engineer</td> </tr>
                <tr> <td>Shivani Ratnaparkhi</td> <td>QA Engineer</td> </tr>
              </tbody>

            </table>
          </div>
        </div>
     </div>

      <div class="col-md-12">
        <h3>Version</h3>
        <p>
          {{ version }}
        </p>
      </div>

    </div>
</div>
