{% extends "account/login.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs"></div>{% endblock %}

{% block ngapp %}{#this page will not be a angular app page#}{% endblock ngapp %}

{% block header %}
{# there will be no header on login page #}
{% endblock header %}

{% block main-container %}
<div id="content" class="text-center">
  <a id="logo-lg" href="{% url 'home' %}"><img src="{% static 'img/forgeahead_logo.png' %}"/> </a>

  <div class="well well-transparent">
    <div id="logo-text">Little learning communities powered by great technology</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="panel panel-nlms">
        <div class="panel-body">
          <h1>{% trans "Password Reset" %}</h1>

          <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for
            setting a new one.</p>

          <form action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="well well-transparent">
                  <div class="form-group">
                    <input id="id_email" type="email" name="email"
                           placeholder="Email" class="form-control">
                    {% for error in form.email.errors %}
                    <span class="text-danger small">{{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <input class="btn btn-black btn-lg" type="submit"
                           value="{% trans 'Reset password' %}"/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="well well-transparent well-lg ft-wt">
        © 2014 Numeric.org All rights reserved
      </div>
    </div>
  </div>
</div>

{% endblock main-container %}

{% block css %}
<style>
  body {
    padding-top: 25px;
    background: #ffffff;
  }
</style>
{% endblock css %}

