{% extends "account/login.html" %}
{% load i18n %}
{% load static %}
{% block ngapp %}{#this page will not be a angular app page#}{% endblock ngapp %}

{% block header %}
{# there will be no header on login page #}
{% endblock header %}

{% block main-container %}
<div id="content" class="text-center">
  <a id="logo-lg" href="{% url 'home' %}"><img src="{% static 'img/forgeahead_logo.png' %}"/> </a>

  <div class="well well-transparent">
    <div id="logo-text">Little learning communities powered by great technology</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="panel panel-nlms">
        <div class="panel-body">
          <form action="" method="post">
            <h1>Enter New Password</h1>

            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="text-left">
              {% for error in form.non_field_errors %}
              <p class="text-danger small"> {{error}} </p>
              {% endfor %}
            </div>
            {% endif %}

            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="well well-transparent">
                  <div class="form-group">
                    <input type="password" name="new_password1" placeholder="New password" class="form-control"
                           id="id_new_password1">
                    {% for error in form.new_password1.errors %}
                    <span class="text-danger small">{{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <input type="password" name="new_password2" placeholder="Confirm password" class="form-control"
                           id="id_new_password2">
                    {% for error in form.new_password2.errors %}
                    <span class="text-danger small">{{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <button class="btn btn-black btn-lg" type="submit">
                      Change password
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="well well-transparent well-lg ft-wt">
        © 2014 Numeric.org All rights reserved
      </div>
    </div>
  </div>
</div>

{% endblock main-container %}

{% block css %}
<style>
  body {
    padding-top: 25px;
    background: #ffffff;
  }
</style>
{% endblock css %}

