{% block header %}
{% endblock header %}

{% block main-container %}

Someone, possibly you, has used the password recovery facility on the <b>{{ site_name }}</b> site.
<br/><br/>
If you have not requested this change, simply ignore this message - you are at no risk.
<br/><br/>
If you have requested this change,
please<a href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"> click here</a> to choose a new password.
<br/><br/>

"Thank you for using our site!"
<br/><br/>

The <a href="{{ domain }}">{{ site_name }}</a> team

{% endblock main-container %}
